# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcarchive
*.xcuserdatad/
*.xcworkspace/xcuserdata/

# SwiftPM
.swiftpm/
.build/
Package.resolved

# Logs & temp
*.log
*.tmp
*.moved-aside

*.sqlite
*.sqlite-shm
*.sqlite-wal

.vscode/

GameBacklogApp/Preview Content/